<mat-toolbar class="mat-elevation-z3 relative z-10">


  <button mat-icon-button (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
  </button>

  <div class="flex-stretch"></div>

  <h1 class="flex-1">{{"SITETITLE" }}</h1>


  <div class="flex-1"></div>
  <!--  Light-Dark Theme Menu -->
      <button mat-icon-button [mat-menu-trigger-for]="themeLightDarkMenu">
        <mat-icon>{{ themeService.selectedLightDarkTheme()?.icon }}</mat-icon>
      </button>
      <mat-menu #themeLightDarkMenu="matMenu">
        @for (theme of themeService.getLightDarkThemes(); track theme.name) {
        <button
          [class.selected-theme]="
            themeService.selectedLightDarkTheme()?.name === theme.name
          "
          mat-menu-item
          (click)="themeService.setLightDarkTheme(theme.name)"
        >
          <mat-icon>{{ theme.icon }}</mat-icon>
          <span>{{ theme.name | titlecase }}</span>
        </button>
        }
      </mat-menu>

<!-- Color Theme Menu -->
      <button mat-icon-button [matMenuTriggerFor]="themeColorMenu">
        <mat-icon>format_color_fill</mat-icon>
      </button>
      <mat-menu #themeColorMenu="matMenu">
        @for (theme of themeService.getColorThemes(); track theme.id) {
        <button mat-menu-item (click)="themeService.setColorTheme(theme.id)">
          <div class="theme-menu-item">
            <div
              class="color-preview"
              [style.background-color]="theme.primary"
            ></div>
            <span>{{ theme.displayName }}</span>
          </div>
        </button>
        }
      </mat-menu>



</mat-toolbar>
