  :host * {
      transition-property: margin-inline-start, opacity, height;
      transition-duration: 500ms;
      transition-timing-function: ease-in-out;
    }

.menu-item {
  border-left: 5px solid;
  border-left-color: rgba(0, 0, 0, 0);
}

//Active style - primary color css variable will be set in theming section
.selected-menu-item {
  border-left-color: var(--mat-sys-primary);
      mat-icon {
        color: var(--mat-sys-primary);
      };
      mat-menu {
        color: var(--mat-sys-primary);
      }
  background: rgba(0, 0, 0, 0.05);
}
